{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slipher</title>
    <link rel="stylesheet" href="{% static 'Subjects/popup.css' %}">
</head>
<body>

	</h1><b><a href="{% url 'Subjects:slipher' %}" >Slipher</a>&nbsp;
		<a href="{% url 'Subjects:subject' %}">start</a></b></h1>

    <div id="overlay" ></div>
    <div id="popup" >
	    <p>do you remeber the basic principles of "<span id="subtopic-name" ></span>" in subject: <span id="subject-name" ></span> within topic: <span id="topic-name"></span>?</p>
        <button onclick="remembered()">remembered</button>
	<button onclick="forgot()">forgot</button>
        <button onclick="closePopup()">close</button>
    </div>
    
    <script src="{% static 'Subjects/popup.js' %}"></script>
    {% block content %}{% endblock content %}
</body>
</html>
