{% extends "Subjects/base.html" %}

{% block content %}

<p> <a href="{% url "Subjects:new_subject" %}"><h1>+</h1></a></p>
{% if subjects_list %}
	<ol>
		{% for subject in subjects_list %}
		<li><a href="{% url 'Subjects:topic' subject.id %}">{{ subject }}</a>
			&nbsp;
			<a href="{% url 'Subjects:edit_subject' subject.id%}">🖋️</a>
			&nbsp;
			<a href="{% url 'Subjects:delete_subject' subject.id %}">🗑️</a>

		</li>

		{% endfor %}
	</ol>

{% else %}
	<p> there is no subject </p>
{% endif %}
{% endblock content %}


