{% extends "Subjects/base.html" %}

{% block content %}

{% if subjects_list %}
<p> <a href="{% url "Subjects:new_subject" %}">add subject</a></p>
	<ol>
		{% for subject in subjects_list %}
		<li><a href="{% url "Subjects:topic" subject.id %}">{{ subject }}</a>
			&nbsp;
			<a href="{% url 'Subjects:edit_subject' subject.id%}">  edit</a>
			&nbsp;
			<a href="{% url 'Subjects:delete_subject' subject.id %}">delete</a>

		</li>

		{% endfor %}
	</ol>

{% else %}
	<p> there is no subject </p>
{% endif %}
{% endblock content %}


