{% extends "Subjects/base.html" %}

{% block content %}

<p><a href="{% url 'Subjects:subject' %}"> {{ subject }}</a>/<a href="{% url 'Subjects:topic' subject_id=subject.id %}">{{ topic }}</a>/<a href="{% url 'Subjects:subtopic' subject_id=subject.id topic_id=topic.id %}">{{ subtopic }} </a> </p>
   <div>
	   <h2>are you sure you want to delete '{{ entry_text}}'?</h2>
	   <form method="POST">
		{% csrf_token %}
		<!---i want to know how csrf_token works--->
		<button action="submit">delete</button>
	   </form>
	   <a href="{% url 'Subjects:subtopic_entry' subject_id=subject.id topic_id=topic.id subtopic_id=subtopic.id %}">cancel</a> 

{% endblock content %}
