{% extends "Subjects/base.html" %}

{% block content %}
<p><a href="{% url 'Subjects:subject' %}"> {{ subject }}</a>/<a href="{% url 'Subjects:topic' subject_id=subject.id %}">{{ topic }}</a>/<a href="{% url 'Subjects:subtopic' subject_id=subject.id topic_id=topic.id %}">{{ subtopic }} </a> </p>

<a href="{% url 'Subjects:new_entry' subject_id=subject.id topic_id=topic.id subtopic_id=subtopic.id %}">➕</a>
<h6>enties</h6>

<ol>
	{% for entry in entries %}
	<li>
		<p>{{ entry.date_added }}</p>
		<p>{{ entry.text|linebreaks }}  <a href="{% url 'Subjects:edit_entry' subject_id=subject.id topic_id=topic.id subtopic_id=subtopic.id entry_id=entry.id %}">🖋️</a>  <a href="{% url 'Subjects:delete_entry' subject_id=subject.id topic_id=topic.id subtopic_id=subtopic.id entry_id=entry.id %}">🗑️</a></p>
	</li>
	{% empty %}
	<p>{{ subtopic }} has no entries.</p>
	{% endfor %}

 
	
</ol>
   	

{% endblock content %}
