<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">                                
    <meta name="viewport" content="width=device-width,
 initial-scale=1.0">                                      
    <title>Slipher</title>                                
</head>
<body>
	<h2> slipher : learn faster </h2>
	<form method="get" action="{% url 'slipher_video:search' %}">
		<input type='search' name='q' placeholder="search video">
		<button type='submit' name>search</button>

	</form>
{% block content %}{% endblock content %}

</body>
</html>
