{% extends "Subjects/base.html" %}

{% block content %}
<p>Topic: {{ topic }}</p>
<a href="{% url 'Subjects:new_subtopic' subject_id=subject.id topic_id=topic.id %}">➕</a>

{% if subtopic_list %}
<p>Subtopics: </p>
<ol>

	{% for subtopic in subtopic_list%}
	<li>{{ subtopic }}
		&nbsp;
		<a href="{% url 'Subjects:edit_subtopic' subject_id=subject.id topic_id=topic.id subtopic_id=subtopic.id %}">🖋️</a>
		&nbsp;
		<a href="{% url 'Subjects:delete_subtopic' subject_id=subject.id topic_id=topic.id subtopic_id=subtopic.id %}">🗑️</a>

	</li>

	{% endfor %}


</ol>
{% else %}
<p>{{ topic }} doesn't have subtopics</p>
{% endif %}

{% endblock content %}

